<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if member.role == 'admin' %}
        <h1>Admin page</h1>
        <a href="#">user list</a>
        <a href="#">user delte</a>
    {% elif member.role == 'manager' %}
        <h1>Manage Page</h1>
        <a href="#">user list</a>
    {% else %} 
        <h1>User Page</h1>
    {% endif %} 

</body>
</html>